.freshers {
  display: flex;
}
.left,
.right {
  flex: 1;
}
.view {
  float: right;
  margin-top: 20px;
}
.offer_badge1 {
  color: white;
  background-color: orange;
  border-radius: 5px;
  padding: 3px;
  font-size: 15px;
  margin-left: 5px;
}
.title {
  font-size: 28px;
  line-height: 1.28571429;
  font-weight: 600;
}
.desc {
  margin-top: 16px;
  margin-bottom: 0;
  font-size: 18px;
  line-height: 1.22;
  color: #484848;
}
h6 > a {
  text-decoration: none;
}
