.table-1 {
  margin-left: auto;
  margin-right: auto;
  margin-top: 30px;
}
.search_div {
  display: flex;
}
.search {
  width: 500px;
  height: 40px;
  padding: 13px;
  border: 1px solid #bdbdbd;
  border-top-right-radius: 0.25rem;
  border-bottom-right-radius: 0.25rem;
}
.search_custom {
  background-color: #4287f5;
  height: 40px;
}
